#title-list .list {
	border: 1px solid #ddd;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 14px;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#title-list li {
	background-color: #ddd;
	color: black;
	display: block;
	line-height: 2.0;
	text-align: center;
	text-decoration: none;
}

#title-list li:hover {
	background-color: #ccc;
	cursor: pointer;
}

#title-list .checked::after {
	content: "\2713";
	margin-left: 5px;
}